:root {
  --borde-radius: 12px;
  --logo-color: #5d5d6d;
  --bg-primary: #f0f0f5;
  --bg-secondary: #f3f5f6;
  --text-dark: #737380;
  --text-dark2: #41414d;
  --text-dark3: #737380;
  --shapes-dark: #09090a;
  --shapes-medium: #e9e9f0;
  --delete-color: #de3838;
  --orange-low: #ffa585;
  --shapes: #dce2e5;
  --shape-back: #617480;
  --text-cart: #f5f5fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  background: #f0f0f5;
}
